/* Use this contrast checker: https://webaim.org/resources/contrastchecker/ */

/* Code Along, Part 1 */

/* 1. Check the ratio of the background color and the color of the text.
    We want the ratio 4:1 or higher. What is it? */
/* The ratio is 1.02:1 which is very low and does not meet the 4:1 requirement. */

/* 2. Change the background color so that it contrasts well with the text. 
    What color do you think would provide a good contrast with red? 
    Light Blue
    (Hint: Remember lighter colors contrast best with darker colors and vice versa). */

/* 3. Recheck the ratio now. Afterwards, go to the HTML file.
    4:1 now*/

body {
    background-color: #E7F9FD;
    color: #eb2626;
}


.food-pic {
    width: 300px;
    length: 300px;
    border: #eb2626 solid 5px;
    border-radius: 35px;
    margin: 20px;
    shadow: 5px 5px 10px #eb2626;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.title {
    text-align: center;
    color: #eb2626;
    border: #eb2626 solid 5px;
    border-radius: 30px;
    font-family: 'Italianno', cursive;
    font-size: 90px;
}
/* From Uiverse.io by nikk7007 */ 
.slice {
  --c1: hsl(195, 100%, 84%);
  --c2: #f32424;
  --size-letter: 32px;
  padding: 0.5em 1em;
  font-size: var(--size-letter);

  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--c2);
  border-radius: 0.2em;
  cursor: pointer;

  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);

  & > .text {
    font-weight: 700;
    color: var(--c2);
    position: relative;
    z-index: 1;
    transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
  }
}

.slice::after {
  content: "";

  width: 0;
  height: calc(300% + 1em);

  position: absolute;
  translate: -50% -50%;
  inset: 50%;
  rotate: 30deg;

  background-color: var(--c2);
  transition: 1000ms cubic-bezier(0.83, 0, 0.17, 1);
}

.slice:hover {
  & > .text {
    color: var(--c1);
  }
  &::after {
    width: calc(120% + 1em);
  }
}

.slice:active {
  scale: 0.98;
  filter: brightness(0.9);
}
